{% extends "admin/rahmen.html" %}
{% from "admin/felder.html" import feld %}
{% block titel %}{{ gruppe.titel }}{% endblock %}
{% block inhalt %}
<h1>{{ gruppe.titel }}</h1>
<p class="hilfe">{{ gruppe.beschreibung }}</p>

<form method="post" class="formular formular--breit" enctype="multipart/form-data">
  <input type="hidden" name="csrf" value="{{ csrf() }}">
  {% for f in gruppe.felder %}{{ feld(f, werte) }}{% endfor %}
  <p class="knopfzeile"><button class="knopf knopf--haupt" type="submit">Speichern</button></p>
</form>
{% endblock %}
